.player {
  min-width: 40px;
}

.south {
  background: url("../res/player/walkSouth.gif") no-repeat no-repeat, #76552b;
  background-size: 70%;
  width: 40px;
  height: 40px;
}

.east {
  background: url("../res/player/player_east_1.svg") no-repeat no-repeat, #76552b;
  background-size: 70%;
  width: 40px;
  height: 40px;
}

.north {
  background: url("../res/player/player_north_1.svg") no-repeat no-repeat, #76552b;
  background-size: 70%;
  width: 40px;
  height: 40px;
}

.west {
  background: url("../res/player/player_west_1.svg") no-repeat no-repeat, #76552b;
  background-size: 70%;
  width: 40px;
  height: 40px;
}

.tree {
  background: url("../res/pinetree.png") no-repeat center, #76552b;
  background-size: cover;
  mix-blend-mode: overlay;
  // transform: scale(2) translate(0px, -15px);
}

.boulder {
  background: url("../res/boulder.svg") no-repeat, #76552b;
  background-size: cover;
}

.water {
  background: rgb(48, 48, 146);
  background-size: cover;
  mix-blend-mode: overlay;
}

.dirt {
  background: #76552b;
  background-size: cover;
  mix-blend-mode: overlay;
}

.npc {
  background: url("../res/questier.png") no-repeat, #76552b;
  background-size: cover;
}

.banana {
  background: url("../res/banana.png") no-repeat, #76552b;
  background-size: cover;
}