html { font-family: "Courier New", Courier, monospace; }

.wrapper {
    display: block;
    background-color: #595a5e2c;
    /* width: 640px; */
    height: 480px;
    margin: 50px auto 0 auto;
}

.gameMap {
    display: block;
    /* width: 575px; */
    height: 100%;
}

.row {
    display: flex;
    width: auto;
    /* margin: 6px 0; */
}

.cell {
    display: inline-block;
    width: 23px;
    height: 23px;
}

/* .wall {} */

/* .empty {} */